<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="M3U8_FILE_URL"   value="http://185.38.12.40/sec/1516385824/3335383362420723ca8d40547d6835cf803a95f5c4e15ed6/ivs/0d/e8/0af8f8c8901c.mp4/hls/tracks-3,4/index.m3u8"/>
    <add key="OUTPUT_FILE_DIR" value="E:\"/>
    <add key="OUTPUT_FILE_EXT" value=".avi"/>
  </appSettings>

  <runtime>
    <gcServer     enabled="true"  />
    <gcConcurrent enabled="false" />
  </runtime>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1024" />
    </connectionManagement>
  </system.net>  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
</configuration>
