<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="M3U8_FILE_URL"   value="http://185.38.12.48/sec/1516421021/37303732f217def75e6e73cc34f5582abbbe47a9488ff8dc/ivs/d8/ea/21afa3c452e3/hls/tracks-3,4/index.m3u8"/>
    <add key="OUTPUT_FILE_DIR" value="E:\"/>
    <add key="OUTPUT_FILE_EXT" value=".avi"/>
  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="false"/>
  </runtime>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
