<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="M3U8_FILE_URL"   value="https://a71-739-321g0.v.plground.live:10403/hs/55/1708561325/TbdrIVtjvGht5toi8iGQjg/237/840237/index-f2-v1-f5-a1.m3u8"/>
    <add key="OUTPUT_FILE_DIR" value="E:\"/>
    <add key="OUTPUT_FILE_EXT" value=".avi"/>
  </appSettings>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1024"/>
    </connectionManagement>
  </system.net>

  <runtime>
    <gcServer     enabled="true"/>
    <gcConcurrent enabled="false"/>
  </runtime>
</configuration>
