<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="m3u8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="false"/>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  
  <userSettings>
    <m3u8.Properties.Settings>
      <setting name="_IsUpgradedInThisVersion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxDegreeOfParallelism" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="AutoMinimizeWindowWhenStartsDownload" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutputFileDirectory" serializeAs="String">
        <value>E:\</value>
      </setting>
      <setting name="OutputFileExtension" serializeAs="String">
        <value>.avi</value>
      </setting>
      <setting name="AutoCloseApplicationWhenEndsDownload" serializeAs="String">
        <value>False</value>
      </setting>
    </m3u8.Properties.Settings>
  </userSettings>
</configuration>
