html { overflow: hidden; max-width: 800px; }
.body { /*font-family: verdana;*/font-family: monospace; overflow: hidden; margin: 3px 3px 0 3px; }
.body_2 { margin-bottom: 10px }
.right { text-align: right; }

div.content {
    overflow: auto;
    min-width: 200px;
    white-space: nowrap;
    /*max-width: 800px;*/
    /*direction: rtl;*/
}
table.content { /*font-size: 10px;*/font-size: 0.85em; }

h5.found { text-align: left; vertical-align: central; margin: 3px 0 3px 7px; color: forestgreen; }
    h5.found a.download_all { color: forestgreen; }
h5.not-found { color: maroon; white-space: nowrap; margin-left: 10px; margin-right: 10px; }

a { outline: none; text-decoration: none; color: dimgrey; }
    a:hover { text-decoration: underline; color: black; }

    a.auto_start_download > img,
    a.auto_start_download_all > img { border: 1px solid transparent; border-radius: 2px; }
        a.auto_start_download > img:hover, a.auto_start_download_all > img:hover { border-color: silver; }
    a.auto_start_download_all { margin-left: 5px; }

div.options_1 { background-color: whitesmoke; text-align: right; white-space: nowrap; }
/*div.options_1 #directionRtl, div.options_1 label[for="directionRtl"]*/
div.options_1 input, div.options_1 label { color: silver; font-size: small; }
                     div.options_1 label[for="directionRtl"] { margin-right: 10px }

#clearUrlList { padding: 0 2px; margin-left: 35px; border: 1px silver solid; border-radius: 2px; }
#clearUrlList:hover { background-color: whitesmoke }
#clearUrlList:active { background-color: lightgrey; }

div.content_2 { font-size: 0.6em; font-weight: normal; padding: 0 0 5px 15px; }
div.options_root { padding: 0 0 20px 15px; }
div.options_2 { background-color: whitesmoke; margin-right: 15px; }
    div.options_2:nth-child(1) {padding-top: 5px;}
    div.options_2:nth-last-child(1) {padding-bottom: 5px;}
span.sign { padding: 0 0 15px 15px }
span.sign_2 { padding: 0 0 15px 5px }

input[type="checkbox"], label[for] { cursor: pointer; }

.is_group_by_audio_video { color: dodgerblue; }
    .is_group_by_audio_video:hover { color: #0081ff; }