<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="M3U8_FILE_URL"   value="https://hammer.prosto.hdvideobox.me/tvseries/b53b044b798fb22c8c8fa17624694ade4235e8b3/8355b69124f91885dc9477e8dc2386d3:2023040404/1080.mp4:hls:manifest.m3u8"/>
    <add key="OUTPUT_FILE_DIR" value="E:\"/>
    <add key="OUTPUT_FILE_EXT" value=".avi"/>
  </appSettings>
</configuration>
