<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="m3u8.download.manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <runtime>
    <gcServer               enabled="true" />
    <gcConcurrent           enabled="true" />
    <Thread_UseAllCpuGroups enabled="true" />
    <GCCpuGroup             enabled="true" />
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <userSettings>
    <m3u8.download.manager.Properties.Settings>
      <setting name="_IsUpgradedInThisVersion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutputFileDirectory" serializeAs="String">
        <value>E:\</value>
      </setting>
      <setting name="OutputFileExtension" serializeAs="String">
        <value>.avi</value>
      </setting>
      <setting name="UseMaxDegreeOfParallelism" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxDegreeOfParallelism" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="UseCrossDownloadInstanceParallelism" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AttemptRequestCountByPart" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RequestTimeoutByPart" serializeAs="String">
        <value>00:00:45</value>
      </setting>
      <setting name="ShowOnlyRequestRowsWithErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NameCleanerExcludesWords" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1080</string>
            <string>1080p</string>
            <string>1O8O</string>
            <string>1O8Op</string>
            <string>360</string>
            <string>480</string>
            <string>720</string>
            <string>720p</string>
            <string>baibako</string>
            <string>cb</string>
            <string>coldfilm</string>
            <string>content</string>
            <string>DL</string>
            <string>eng</string>
            <string>films</string>
            <string>hd1080p</string>
            <string>hdtvrip</string>
            <string>hls</string>
            <string>index</string>
            <string>ivs</string>
            <string>lostfilm</string>
            <string>m3u8</string>
            <string>manifest</string>
            <string>mp4</string>
            <string>playlist</string>
            <string>rus</string>
            <string>sec</string>
            <string>stream</string>
            <string>track</string>
            <string>tracks</string>
            <string>tv</string>
            <string>video</string>
            <string>WEB</string>
            <string>webdl</string>
            <string>webrip</string>
          </ArrayOfString>
        </value>
      </setting>      
    </m3u8.download.manager.Properties.Settings>
  </userSettings>
</configuration>
