<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="M3U8_URL"                   value="https://rt-glb.rttv.com/live/rtnews/playlist_4500Kb.m3u8" />
    <!--<add key="M3U8_URL"                   value="https://rt-glb.rttv.com/dvr/rtnews/playlist_4500Kb.m3u8" />-->
    <!--<add key="M3U8_URL"                   value="https://msk224.extcam.com/hls/playlist.m3u8?hlsId=76f0561f71324ba2a9d944137be0f116_100001391604_0&amp;token=a8a37126bfdfabafd0b418aa8ecbebe9" />-->    
    <add key="OUTPUT_FILENAME"            value="E:\m3u8-live-streaming.avi" />
    <add key="MAX_OUTPUT_FILE_SZIE_IN_MB" value="250" />
  </appSettings>
</configuration>
